.row{
    display: flex;
    justify-content: space-evenly;
    line-height: 50px;


}

.col, .col-2,{
    background-color: teal;
    height: 50px;
    flex: 1;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 10px;
}

.col-2{
    flex:2;
}

.col-3{
    flex:3
}

