#search{
    border: solid;
    border-radius: 20px;
    border-color: rgb(21, 181, 192);
    margin: 40px 0px 0px 40px;
    padding: 5px 50px ;
    background-color: rgb(236, 236, 236);
    color: rgb(21, 181, 192);
    font-weight: bold;
    
}

#plus{
    border: solid;
    border-radius: 50%;
    border-color: rgb(18, 231, 213);
    margin: 10px 0px 0px 40px;
    background-color: rgb(18, 231, 213);
    color: white;
    font-size: 25px;
        
}

#create{
    border: solid 1px black;
    margin: 10px 0px 0px 40px;
    padding: 5px 45px;
    background-color: rgba(0, 0, 255, 0.671);
    color: white;
    box-shadow: 5px 5px 5px black;
}