{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
    <h1>Upload File</h1>
    <div class="progress" style="display: none">
        <div class="progress-bar" style="width: 0%"></div>
    </div>
    <div id="success-div" class="alert alert-success" style="display: none"></div>
    <div id="error-div" class="alert alert-danger" style="display: none"></div>
    <form
        id="form-upload"
        action="/upload"
        method="POST"
        enctype="multipart/form-data"
    >
        <div class="mb-4">
            <label for="file">Upload File</label>
            <input type="file" name="my_file" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Upload File</button>
    </form>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='app.js')}}"></script>
{% endblock %}
